{% extends '_layout.njk' %}

{% block content %}
  <h1>Events</h1>
  <p id="events"></p>

  <script>
    const source = new EventSource('/events')

    source.addEventListener('message', function (event) {
      const data = JSON.parse(event.data)
      console.log('Received event:', data)
      const events = document.getElementById('events')

      events.innerHTML += data.number
    })
    
    source.addEventListener('end', function (event) {
      console.log('Received end event:', event)
      this.close();
    })

  </script>
{% endblock %}
